<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>SentCMS3.0网站管理系统</title>
<style>
body{font-family: "微软雅黑","Microsoft Yahei";}
a{color: #333333;}
.warp{margin: 100px auto 0 auto; border: 10px solid #F25C05; padding: 50px; width: 600px;}
.warp li{line-height: 35px; display: inline-block; width: 40%}
</style>
</head>
<body>
<div class="warp">
	<div class="logo">
		<a href="http://www.tensent.cn" target="_blank"><img src="__PUBLIC__/images/logo-foot.png" alt="南昌腾速科技有限公司"></a>
	</div>
	<ul>
		<li><a href="http://www.tensent.cn" target="_blank">南昌腾速科技有限公司</a></li>
		<li><a href="http://git.oschina.net/sentcms/sentcms" target="_blank">SentCMS3.0版本库</a></li>
		<li><a href="http://doc.sentcms.com" target="_blank">SentCMS3.0开发文档</a></li>
		<li><a href="http://bbs.sentcms.com" target="_blank">SentCMS讨论社区</a></li>
	</ul>
</div>
</body>
</html>