{extend name="public/base"/}
{block name="body"}
<div class="main-box clearfix">
	<header class="main-box-header clearfix">
		<div class="pull-left">
			<h2>{$meta_title}</h2>
		</div>
		<div class="pull-right">
		</div>
	</header>
	<div class="main-box-body clearfix">
		<div class="row" style="padding: 10px;">
			<div class="col-sm-12">
				<form class="form form-inline" method="post">
					<div class="form-group">
						<label for="order_no">订单号：</label>
						<input type="text" class="form-control" name="order_no" id="order_no" placeholder="订单号">
					</div>
					<button type="submit" class="btn btn-primary">查找</button>
				</form>
			</div>
		</div>
		<div class="table-responsive clearfix">
			{volist name="list" id="item"}
			<div class="panel panel-info">
				<div class="panel-heading">
					订单号：{$item['order_no']}（{$item['create_time']|date='Y-m-d',###}）
					<span class="pull-right">
					{$item['pay_status_text']}
					</span>
				</div>
				<table class="table">
					<tr>
						<th>图书</th>
						<th>图书名称</th>
						<th>操作</th>
					</tr>
					{volist name="item['product']" id="product"}
					<tr>
						<td width="80">
							<a href="{:url('index/book/detail', array('id'=>$product['product_id']))}" target="_blank"><img src="{:get_cover($product->book['cover_id'],'path')}" alt="{$product->book['book_name']}" width="60"></a>
						</td>
						<td>
							<a href="{:url('index/book/detail', array('id'=>$product['product_id']))}" target="_blank">{$product->book['book_name']}</a>
						</td>
						<td width="120">
							
						</td>
					</tr>
					{/volist}
				</table>
			</div>
			{/volist}
			{$page}
		</div>
	</div>
</div>
{/block}